.contact{
    padding:100px 8%;
    background:#1E293B;
    text-align:center;
}

.contact-subtitle{
    color:#D4A373;
    font-size:1rem;
    font-weight:700;
    letter-spacing:2px;
    margin-bottom:15px;
}

.contact-subtitle{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:20px;
}

.contact-subtitle::before,
.contact-subtitle::after{
    content:"";
    width:80px;
    height:2px;
    background:#C9A227;
}

.contact h2{
    font-size:3.5rem;
    color:#fff;
    margin-bottom:20px;
}

.contact-text{
    max-width:700px;
    margin:0 auto 60px;
    color:#CBD5E1;
    line-height:1.8;
}

.contact-container{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:50px;
    align-items:start;
}

.contact-info{
    display:flex;
    flex-direction:column;
    gap:25px;
    text-align:left;
}

.info-box{
    background:#2A374D;
    padding:25px;
    border-radius:15px;
}

.info-box h3{
    color:#F8FAFC;
    margin-bottom:10px;
}

.info-box p{
    color:#CBD5E1;
    line-height:1.7;
}

.contact-form{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.contact-form input,
.contact-form textarea{
    padding:18px;
    border:none;
    border-radius:12px;
    outline:none;
    font-size:1rem;
}

.contact-form textarea{
    height:180px;
    resize:none;
}

.contact-form button{
    padding:18px;
    border:none;
    border-radius:50px;
    background:#D4A373;
    color:#1E293B;
    font-weight:700;
    cursor:pointer;
    transition:.3s;
}

.contact-form button:hover{
    transform:translateY(-3px);
    background:#C38B5A;
}

@media(max-width:768px){

    .contact-container{
        grid-template-columns:1fr;
    }

    .contact h2{
        font-size:2.5rem;
    }

}